:root
{
    background-color: #121213 !important;
    color: #dcdce7 !important;

    --sema-color-pressed-icon-verified-merchant:var(--base-color-pressed-blue-400);
    --sema-color-pressed-icon-verified-pinner:var(--base-color-pressed-pinterest);
    --sema-color-pressed-icon-dark:var(--base-color-pressed-grayscale-500);
    --sema-color-pressed-icon-light: #121213 !important;
    --sema-color-pressed-icon-inverse: #121213 !important;
    --sema-color-pressed-icon-error:var(--base-color-pressed-red-400);
    --sema-color-pressed-icon-warning:var(--base-color-pressed-orange-400);
    --sema-color-pressed-icon-success:var(--base-color-pressed-green-400);
    --sema-color-pressed-icon-recommendation:var(--base-color-pressed-purple-400);
    --sema-color-pressed-icon-info:var(--base-color-pressed-blue-400);
    --sema-color-pressed-icon-primary:var(--base-color-pressed-pinterest);
    --sema-color-pressed-icon-link:var(--base-color-pressed-blue-500);
    --sema-color-pressed-icon-subtle:var(--base-color-pressed-grayscale-300);
    --sema-color-pressed-icon-neutral:var(--base-color-pressed-grayscale-300);
    --sema-color-pressed-icon-default:var(--base-color-pressed-grayscale-500);
    --sema-color-pressed-text-dark:var(--base-color-pressed-grayscale-500);
    --sema-color-pressed-text-light: #121213 !important;
    --sema-color-pressed-text-inverse: #121213 !important;
    --sema-color-pressed-text-error:var(--base-color-pressed-red-500);
    --sema-color-pressed-text-warning:var(--base-color-pressed-orange-500);
    --sema-color-pressed-text-success:var(--base-color-pressed-green-500);
    --sema-color-pressed-text-recommendation:var(--base-color-pressed-purple-500);
    --sema-color-pressed-text-info:var(--base-color-pressed-blue-500);
    --sema-color-pressed-text-primary:var(--base-color-pressed-pinterest);
    --sema-color-pressed-text-link:var(--base-color-pressed-blue-500);
    --sema-color-pressed-text-subtle:var(--base-color-pressed-grayscale-300);
    --sema-color-pressed-text-neutral:var(--base-color-pressed-grayscale-350);
    --sema-color-pressed-text-default:var(--base-color-pressed-grayscale-500);
    --sema-color-pressed-border-dark-interactive:var(--base-color-pressed-grayscale-200);
    --sema-color-pressed-border-dark-decorative:var(--base-color-pressed-grayscale-350);
    --sema-color-pressed-border-light-interactive:var(--base-color-pressed-grayscale-200);
    --sema-color-pressed-border-light-decorative:var(--base-color-pressed-grayscale-150);
    --sema-color-pressed-border-inverse: #121213 !important;
    --sema-color-pressed-border-education:var(--base-color-pressed-blue-400);
    --sema-color-pressed-border-error:var(--base-color-pressed-red-400);
    --sema-color-pressed-border-success:var(--base-color-pressed-green-400);
    --sema-color-pressed-border-selected:var(--base-color-pressed-grayscale-400);
    --sema-color-pressed-border-interactive:var(--base-color-pressed-grayscale-200);
    --sema-color-pressed-border-decorative:var(--base-color-pressed-grayscale-150);
    --sema-color-pressed-background-error-weak:var(--base-color-pressed-red-50);
    --sema-color-pressed-background-error-default:var(--base-color-pressed-red-500);
    --sema-color-pressed-background-warning-weak:var(--base-color-pressed-orange-50);
    --sema-color-pressed-background-warning-default:var(--base-color-pressed-orange-500);
    --sema-color-pressed-background-success-weak:var(--base-color-pressed-green-50);
    --sema-color-pressed-background-success-default:var(--base-color-pressed-green-500);
    --sema-color-pressed-background-recommendation-weak:var(--base-color-pressed-purple-50);
    --sema-color-pressed-background-recommendation-default:var(--base-color-pressed-purple-500);
    --sema-color-pressed-background-neutral-weak:var(--base-color-pressed-grayscale-50);
    --sema-color-pressed-background-neutral-default:var(--base-color-pressed-grayscale-350);
    --sema-color-pressed-background-info-weak:var(--base-color-pressed-blue-50);
    --sema-color-pressed-background-info-default:var(--base-color-pressed-blue-400);
    --sema-color-pressed-background-dark:var(--base-color-pressed-grayscale-500);
    --sema-color-pressed-background-light: #121213 !important;
    --sema-color-pressed-background-inverse:var(--base-color-pressed-grayscale-500);
    --sema-color-pressed-background-elevation:--base-color-pressed-grayscale-0;
    --sema-color-pressed-background-education:var(--base-color-pressed-blue-400);
    --sema-color-pressed-background-checked:var(--base-color-pressed-blue-400);
    --sema-color-pressed-background-selected:var(--base-color-pressed-grayscale-400);
    --sema-color-pressed-background-subtle:var(--base-color-pressed-grayscale-50);
    --sema-color-pressed-background-tertiary:var(--base-color-pressed-grayscale-250);
    --sema-color-pressed-background-secondary:var(--base-color-pressed-grayscale-100);
    --sema-color-pressed-background-primary:var(--base-color-pressed-pinterest);
    --sema-color-pressed-background-default: #121213 !important;
    --sema-color-hover-icon-verified-merchant:var(--base-color-hover-blue-400);
    --sema-color-hover-icon-verified-pinner:var(--base-color-hover-pinterest);
    --sema-color-hover-icon-dark:var(--base-color-hover-grayscale-500);
    --sema-color-hover-icon-light: #38383b !important;
    --sema-color-hover-icon-inverse: #38383b !important;
    --sema-color-hover-icon-error:var(--base-color-hover-red-400);
    --sema-color-hover-icon-warning:var(--base-color-hover-orange-400);
    --sema-color-hover-icon-success:var(--base-color-hover-green-400);
    --sema-color-hover-icon-recommendation:var(--base-color-hover-purple-400);
    --sema-color-hover-icon-info:var(--base-color-hover-blue-400);
    --sema-color-hover-icon-primary:var(--base-color-hover-pinterest);
    --sema-color-hover-icon-link:var(--base-color-hover-blue-500);
    --sema-color-hover-icon-subtle:var(--base-color-hover-grayscale-300);
    --sema-color-hover-icon-neutral:var(--base-color-hover-grayscale-300);
    --sema-color-hover-icon-default:var(--base-color-hover-grayscale-500);
    --sema-color-hover-text-dark:var(--base-color-hover-grayscale-500);
    --sema-color-hover-text-light: #38383b !important;
    --sema-color-hover-text-inverse: #38383b !important;
    --sema-color-hover-text-error:var(--base-color-hover-red-500);
    --sema-color-hover-text-warning:var(--base-color-hover-orange-500);
    --sema-color-hover-text-success:var(--base-color-hover-green-500);
    --sema-color-hover-text-recommendation:var(--base-color-hover-purple-500);
    --sema-color-hover-text-info:var(--base-color-hover-blue-500);
    --sema-color-hover-text-primary:var(--base-color-hover-pinterest);
    --sema-color-hover-text-link:var(--base-color-hover-blue-500);
    --sema-color-hover-text-subtle:var(--base-color-hover-grayscale-300);
    --sema-color-hover-text-neutral:var(--base-color-hover-grayscale-350);
    --sema-color-hover-text-default:var(--base-color-hover-grayscale-500);
    --sema-color-hover-border-dark-interactive:var(--base-color-hover-grayscale-200);
    --sema-color-hover-border-dark-decorative:var(--base-color-hover-grayscale-350);
    --sema-color-hover-border-light-interactive:var(--base-color-hover-grayscale-200);
    --sema-color-hover-border-light-decorative:var(--base-color-hover-grayscale-150);
    --sema-color-hover-border-inverse: #38383b !important;
    --sema-color-hover-border-education:var(--base-color-hover-blue-400);
    --sema-color-hover-border-error:var(--base-color-hover-red-400);
    --sema-color-hover-border-success:var(--base-color-hover-green-400);
    --sema-color-hover-border-selected:var(--base-color-hover-grayscale-400);
    --sema-color-hover-border-interactive:var(--base-color-hover-grayscale-200);
    --sema-color-hover-border-decorative:var(--base-color-hover-grayscale-150);
    --sema-color-hover-background-error-weak:var(--base-color-hover-red-50);
    --sema-color-hover-background-error-default:var(--base-color-hover-red-500);
    --sema-color-hover-background-warning-weak:var(--base-color-hover-orange-50);
    --sema-color-hover-background-warning-default:var(--base-color-hover-orange-500);
    --sema-color-hover-background-success-weak:var(--base-color-hover-green-50);
    --sema-color-hover-background-success-default:var(--base-color-hover-green-500);
    --sema-color-hover-background-recommendation-weak:var(--base-color-hover-purple-50);
    --sema-color-hover-background-recommendation-default:var(--base-color-hover-purple-500);
    --sema-color-hover-background-neutral-weak:var(--base-color-hover-grayscale-50);
    --sema-color-hover-background-neutral-default:var(--base-color-hover-grayscale-350);
    --sema-color-hover-background-info-weak:var(--base-color-hover-blue-50);
    --sema-color-hover-background-info-default:var(--base-color-hover-blue-400);
    --sema-color-hover-background-dark:var(--base-color-hover-grayscale-500);
    --sema-color-hover-background-light: #38383b !important;
    --sema-color-hover-background-inverse:var(--base-color-hover-grayscale-500);
    --sema-color-hover-background-elevation: #38383b !important;
    --sema-color-hover-background-education:var(--base-color-hover-blue-400);
    --sema-color-hover-background-checked:var(--base-color-hover-blue-400);
    --sema-color-hover-background-selected:var(--base-color-hover-grayscale-400);
    --sema-color-hover-background-subtle:var(--base-color-hover-grayscale-50);
    --sema-color-hover-background-tertiary:var(--base-color-hover-grayscale-250);
    --sema-color-hover-background-secondary:  #222225 !important;
    --sema-color-hover-background-primary:var(--base-color-hover-pinterest);
    --sema-color-hover-background-default: #38383b !important;
    --sema-color-icon-verified-merchant:var(--base-color-blue-400);
    --sema-color-icon-verified-pinner: #1a1a1b !important;
    --sema-color-icon-disabled: #0a0a0a !important;
    --sema-color-icon-dark: #e8e8f5 !important;
    --sema-color-icon-light: #272729 !important;
    --sema-color-icon-inverse: #272729 !important;
    --sema-color-icon-error:var(--base-color-red-400);
    --sema-color-icon-warning:var(--base-color-orange-400);
    --sema-color-icon-success:var(--base-color-green-400);
    --sema-color-icon-recommendation:var(--base-color-purple-400);
    --sema-color-icon-info:var(--base-color-blue-400);
    --sema-color-icon-primary: #ffffff !important;
    --sema-color-icon-link:var(--base-color-blue-500);
    --sema-color-icon-subtle:var(--base-color-grayscale-300);
    --sema-color-icon-neutral:var(--base-color-grayscale-300);
    --sema-color-icon-default:  #e8e8f5 !important;
    --sema-color-text-disabled: #0a0a0a !important;
    --sema-color-text-dark: #e8e8f5 !important;
    --sema-color-text-light: #c0c0ca !important;
    --sema-color-text-inverse: #c9c9d8 !important;
    --sema-color-text-error:var(--base-color-red-500);
    --sema-color-text-warning:var(--base-color-orange-500);
    --sema-color-text-success:var(--base-color-green-500);
    --sema-color-text-recommendation:var(--base-color-purple-500);
    --sema-color-text-info:var(--base-color-blue-500);
    --sema-color-text-primary: #1a1a1b !important;
    --sema-color-text-link:var(--base-color-blue-500);
    --sema-color-text-subtle:var(--base-color-grayscale-300);
    --sema-color-text-neutral:var(--base-color-grayscale-350);
    --sema-color-text-default: #e8e8f5 !important;
    --sema-color-border-focus-inner-light: #272729 !important;
    --sema-color-border-focus-inner-dark: #e8e8f5 !important;
    --sema-color-border-focus-inner-inverse: #e8e8f5 !important;
    --sema-color-border-focus-inner-default: #272729 !important;
    --sema-color-border-focus-outer-light:var(--base-color-blue-200);
    --sema-color-border-focus-outer-dark:var(--base-color-blue-400);
    --sema-color-border-focus-outer-inverse:var(--base-color-blue-200);
    --sema-color-border-focus-outer-default:var(--base-color-blue-400);
    --sema-color-border-dark-interactive: #0a0a0a !important;
    --sema-color-border-dark-decorative:var(--base-color-grayscale-350);
    --sema-color-border-light-interactive: #0a0a0a !important;
    --sema-color-border-light-decorative: #131314 !important;
    --sema-color-border-transparent:var(--base-color-transparent);
    --sema-color-border-inverse: #272729 !important;
    --sema-color-border-education:var(--base-color-blue-400);
    --sema-color-border-error:var(--base-color-red-400);
    --sema-color-border-success:var(--base-color-green-400);
    --sema-color-border-disabled: #131314 !important;
    --sema-color-border-selected:var(--base-color-grayscale-400);
    --sema-color-border-interactive: #444347 !important;
    --sema-color-border-decorative: #131314 !important;
    --sema-color-background-error-weak:var(--base-color-red-50);
    --sema-color-background-error-default:var(--base-color-red-500);
    --sema-color-background-warning-weak:var(--base-color-orange-50);
    --sema-color-background-warning-default:var(--base-color-orange-500);
    --sema-color-background-success-weak:var(--base-color-green-50);
    --sema-color-background-success-default:var(--base-color-green-500);
    --sema-color-background-recommendation-weak:var(--base-color-purple-50);
    --sema-color-background-recommendation-default:var(--base-color-purple-500);
    --sema-color-background-neutral-weak: #38383b !important;
    --sema-color-background-neutral-default:var(--base-color-grayscale-350);
    --sema-color-background-info-weak:var(--base-color-blue-50);
    --sema-color-background-info-default:var(--base-color-blue-400);
    --sema-color-background-disabled: #171718 !important;
    --sema-color-background-dark: #e8e8f5 !important;
    --sema-color-background-light: #272729 !important;
    --sema-color-background-inverse: #27272b !important;
    --sema-color-background-elevation: #272729 !important;
    --sema-color-background-education:var(--base-color-blue-400);
    --sema-color-background-checked:var(--base-color-blue-400);
    --sema-color-background-selected:var(--base-color-grayscale-400);
    --sema-color-background-subtle: #38383b !important;
    --sema-color-background-tertiary:var(--base-color-grayscale-250);
    --sema-color-background-secondary: #171718 !important;
    --sema-color-background-primary: #1a1a1b !important;
    --sema-color-background-default: #272729 !important;

    --comp-toast-color-background-default: #e8e8f5 !important;
}

[style*="border-color: white"],
[style*="border-color: rgb(246, 246, 246)"]
{
    border-color: #505055 !important;
}

[data-test-id="cancel-button"] > button > div > div,
[data-test-id="done-button"] > button > div > div
{
    color: #ccccd3 !important;
}