:root {
    background-color: #1d1d1d !important
}

/* Sidebar */
#VerticalNavContent
{
    background-color: #111111 !important;
    color: #f1e4e4 !important;
}

/* Home feed and tab list */
[data-test-id="header-background"],
[data-test-id="homefeed-feed"] > :nth-child(2) > div,
:has(> [role="tablist"])
{
    background-color: #111111 !important;
    color: #f1e4e4 !important;
}

/* Search box */
#searchBoxContainer div
{
    background-color: #333333 !important;
    color: #f1e4e4 !important;
    border-radius: 8px !important;
}

/* Tablist Buttons */
[role="tablist"] > a > div > div
{
    background-color: #333333 !important;
    color: #f1e4e4 !important;
    border-radius: 8px !important;
}
[role="tablist"] > a:hover > div > div
{
    background-color: #555555 !important;
    color: #f1e4e4 !important;
    border-radius: 8px !important;
}

/* Button on the tablist */
[data-root-margin="more-ideas-tabs"] > div > div > div > :nth-child(2) > div
{
    background: linear-gradient(to left, #111111 52%, #00000000 100%) !important;
    padding: 8px 0px 8px 32px !important;
}